.editMenu {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-between;
  gap: 12px;


  .editData {
    display: flex;
    justify-content: center;
    gap: 15px;

    input {
      border: solid 2px #b3bcc7;
      border-radius: 3px;
      padding: 5px 10px;
      font-size: 16px;
      font-family: inherit;
    }
  }

  .editActions {
    display: flex;
    justify-content: center;
    gap: 15px;

    button {
      background-color: white;
      border-radius: 3px;
      color: #6e70ef;
      border: solid 2px #a9acea;
      width: 100px;
      padding: 5px 0;
      font-size: 14px;
      font-weight: 700;
      font-family: inherit;
      cursor: pointer;
    }
  }

}